<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <title>Title</title>
</head>

<body>
    <div class="heading">
        <span class="heading__title">24/7 Timesheet / Night Disturbances Record</span>
        <div class="heading__logo-box">
            <img src="nes_logo.jpg" alt="nes_logo">
        </div>
    </div>

    <div class="content">

        <div class="main-block">
            <div class="bio-data">
                <div class="bio-data__row">
                    <span> <span class="bold-text">First name:</span> <span>Samad</span> </span>
                    <span> <span class="bold-text">Surname:</span> <span>Adeleke</span> </span>
                </div>

                <span> <span class="bold-text">Hospital:</span> <span>Nuffield</span> </span>
            </div>
            <div class="timesheet__title-block">
                <h5 class="minor-title-text"> Timesheet </h5>
                <span class="minor-bold-text">Please claim only for hours worked:</span>
            </div>

            <div class="timesheet__table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Date</th>
                            <th scope="col">Start time</th>
                            <th scope="col">Finish time</th>
                            <th scope="col">Total hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Monday</th>
                            <td>2021-10-25</td>
                            <td>13:00</td>
                            <td>00:00</td>
                            <td>11.0</td>
                        </tr>
                        <tr>
                            <th scope="row">Tuesday</th>
                           <td>2021-10-26</td>
                            <td>00:00</td>
                            <td>00:00</td>
                            <td>24</td>
                        </tr>
                        </tr>
                        <tr>
                            <th scope="row">Wednesday</th>
                            <td>2021-10-27</td>
                            <td>00:00</td>
                            <td>00:00</td>
                            <td>24</td>
                        </tr>
                        </tr>
                        <tr>
                            <th scope="row">Thursday</th>
                            <td>2021-10-28</td>
                            <td>00:00</td>
                            <td>00:00</td>
                            <td>24</td>
                        </tr>
                        </tr>
                        <tr>
                            <th scope="row">Friday</th>
                            <td>2021-10-29</td>
                            <td>00:00</td>
                            <td>00:00</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <th scope="row">Saturday</th>
                            <td>2021-10-30</td>
                            <td>00:00</td>
                            <td>00:00</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <th scope="row">Sunday</th>
                            <td>2021-10-31</td>
                            <td>00:00</td>
                            <td>00:00</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <th scope="row">Monday</th>
                            <td>2021-11-01</td>
                            <td>00:00</td>
                            <td>13:00</td>
                            <td>13.0</td>
                        </tr>
                        <tr>
                            <td colspan="4" align="end" class="minor-bold-text">Total weekly hours</td>
                            <td>168.0</td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
         
            <div class="timesheet__footer-block">
                <ul>
                    <li><span>Your shift will start as soon as you take the bleep from the current RMO, and will
                            end as soon as you pass it back to them.</span></li>
                    </li>
                    <li> <span>
                            Please either <span class="bold-text">FAX</span> this timesheet to <span
                                class="bold-text">01296 746155</span> or <span class="bold-text">EMAIL</span> your
                            timesheets to
                            your <a href="#">timesheets@neshealthcare.co.uk</a>. This should be done immediately after
                            finishing your shift. Failure to do so could result in non-payment.
                        </span>
                    </li>
                    <li><span>On occasion we have doctors claiming for the same hours. To avoid confusion
                            please agree the time of changeover with your colleague.</span></li>
                    </li>
                    <li><span>Please ensure you have written your name and hospital at the top of this form.

                    </li>


                </ul>
            </div>


        </div>

        <div class="side-block">
            <div class="night-block__heading">
                <h5 class="minor-title-text">Night disturbances (2400 to 0600)</h5>
                <span class="minor-bold-text">Please log any night calls during this week below:</span>
            </div>

            <div>

            </div>
            <table class="table table-bordered night-block__table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Brief reason(e.g pain, cannulation) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

            <div class="declaration-block">
                <div class="declaration-block__heading">
                    <h5 class="minor-title-text">Declaration</h5>
                    <span class="minor-bold-text">I hereby confirm that the hours claimed are correct.</span>
                </div>

                <div class="declaration-block__signature">
                    <span> <span class="minor-bold-text">RMO signature:</span>
                        <div class="signature-box">
                            <img src="../database/signature.jpg" alt="">
                        </div>
                    </span>
                    <span> <span class="minor-bold-text">Date: </span>01-11-2021</span>
                </div>
            </div>

        </div>

    </div>
</body>

<script>
    window.print()
</script>
</html>