<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    XXCSSXX
    <title>Timesheet</title>
</head>

<body>
    <div class="heading">
        <span class="heading__title">24/7 Timesheet / Night Disturbances Record</span>
        <div class="heading__logo-box">
            <img src="XXLOGOXX" alt="nes_logo">
        </div>
    </div>

    <div class="content">

        <div class="main-block">
            <div class="bio-data">
                <div class="bio-data__row">
                    <span> <span class="bold-text">First name:</span> <span>XXFIRST_NAMEXX</span> </span>
                    <span> <span class="bold-text">Surname:</span> <span>XXLAST_NAMEXX</span> </span>
                </div>

                <span> <span class="bold-text">Hospital:</span> <span>XXHOSPITALXX</span> </span>
            </div>
            <div class="timesheet__title-block">
                <h5 class="minor-title-text"> Timesheet </h5>
                <span class="minor-bold-text">Please claim only for hours worked:</span>
            </div>

            <div class="timesheet__table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Date</th>
                            <th scope="col">Start time</th>
                            <th scope="col">Finish time</th>
                            <th scope="col">Total hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        XXENTRIESXX
                        <tr>
                            <td colspan="4" align="end" class="minor-bold-text">Total weekly hours</td>
                            <td>XXTOTAL_WEEK_HOURSXX</td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
         
            <div class="timesheet__footer-block">
                <ul>
                    <li><span>Your shift will start as soon as you take the bleep from the current RMO, and will
                            end as soon as you pass it back to them.</span></li>
                    </li>
                    <li> <span>
                            Please either <span class="bold-text">FAX</span> this timesheet to <span
                                class="bold-text">01296 746155</span> or <span class="bold-text">EMAIL</span> your
                            timesheets to
                            your <a href="#">timesheets@neshealthcare.co.uk</a>. This should be done immediately after
                            finishing your shift. Failure to do so could result in non-payment.
                        </span>
                    </li>
                    <li><span>On occasion we have doctors claiming for the same hours. To avoid confusion
                            please agree the time of changeover with your colleague.</span></li>
                    </li>
                    <li><span>Please ensure you have written your name and hospital at the top of this form.

                    </li>


                </ul>
            </div>


        </div>

        <div class="side-block">
            <div class="night-block__heading">
                <h5 class="minor-title-text">Night disturbances (2400 to 0600)</h5>
                <span class="minor-bold-text">Please log any night calls during this week below:</span>
            </div>

            <div>

            </div>
            <table class="table table-bordered night-block__table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Brief reason(e.g pain, cannulation) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXDIST_DATE_1XX</td>
                        <td>XXDIST_TIME_1XX</td>
                        <td>XXDIST_DURATION_1XX</td>
                        <td>XXDIST_REASON_1XX</td>
                    </tr>
                    <tr>
                        <td>XXDIST_DATE_2XX</td>
                        <td>XXDIST_TIME_2XX</td>
                        <td>XXDIST_DURATION_2XX</td>
                        <td>XXDIST_REASON_2XX</td>
                    </tr>
                    <tr>
                        <td>XXDIST_DATE_3XX</td>
                        <td>XXDIST_TIME_3XX</td>
                        <td>XXDIST_DURATION_3XX</td>
                        <td>XXDIST_REASON_3XX</td>
                    </tr>
                    <tr>
                        <td>XXDIST_DATE_4XX</td>
                        <td>XXDIST_TIME_4XX</td>
                        <td>XXDIST_DURATION_4XX</td>
                        <td>XXDIST_REASON_4XX</td>
                    </tr>
                    <tr>
                        <td>XXDIST_DATE_5XX</td>
                        <td>XXDIST_TIME_5XX</td>
                        <td>XXDIST_DURATION_5XX</td>
                        <td>XXDIST_REASON_5XX</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

            <div class="declaration-block">
                <div class="declaration-block__heading">
                    <h5 class="minor-title-text">Declaration</h5>
                    <span class="minor-bold-text">I hereby confirm that the hours claimed are correct.</span>
                </div>

                <div class="declaration-block__signature">
                    <span> <span class="minor-bold-text">RMO signature:</span>
                        <div class="signature-box">
                            <img src="XXSIGNATUREXX" alt="">
<!--                            <img src="../database/signature.jpg" alt="">-->
                        </div>
                    </span>
                    <span> <span class="minor-bold-text">Date: </span>XXTODAY_DATEXX</span>
                </div>
            </div>

        </div>

    </div>
</body>


</html>